p {
  margin: 0;
}

.general {
  width: 90%;
  max-width: 380px;
  border-color: rgba(255, 255, 255, 0.538);
  border-style: solid;
  border-width: 1px;
  border-radius: 12px;
  padding: 5px 10px;
}

.general-description {
  font-size: 13px;
}

.location-icon {
  height: 15px;
  padding: 0;
}

.general-location {
  display: grid;
  grid-template-columns: 20px 1fr;
  align-items: center;
  margin: 5px 0px;
}

.location-info p {
  font-size: 10px;
}

.general-name {
  font-family: Roboto, Arial;
  color: whitesmoke;
  padding: 0;
  margin: 0 5px 0 0;
}
